div.container-background-story {
  background-image: url(//res2.weblium.site/res/5d84b7ad48299c00263e65a5/5d9afefcd1eef700275f0389_optimized_2560.webp);
}
.section__inner.story {
  color: var(--just-color);
}
.pic__story {
  display: block;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
  justify-content: center;
}
.about__img {
  max-width: 302px;
}
.subtittle-text__story {
  margin-top: 30px;
}
.text-block-story {
  display: block;
  text-align: left;
}
.text-brand-color {
  color: var(--brand-color);
}
.text-content-story {
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  text-decoration-style: solid;
  max-width: 100%;
}
.text__section {
  margin-top: 40px;
  letter-spacing: 0.8px;
  line-height: 24px;
}
.accordion-content {
  margin-top: 20px;
  font-size: var(--text-size);
  line-height: 24px;
}
.font-bold {
  font-weight: 700;
}
