.container-background-sub {
  background-image: url(//res2.weblium.site/res/5d84b7ad48299c00263e65a5/5d9b54446feadf00260818d6_optimized_1200.webp);
}
.grid__inner {
  flex-wrap: wrap;
  box-sizing: border-box;
}
.grid__item {
  padding: 0 15px;
  background: var(--background-grid-item);
  margin-top: 50px;
  line-height: 24px;
  border-radius: 5px;
}
.grid__item-inner {
  padding: 31px 27px;
}

.text-block__subtittle {
  display: block;
  margin-top: 15px;
  font-size: 18px;
  margin-block-start: 15px;
  font-weight: 700;
}
.caption-sub {
  margin-top: 25px;
}
