.page-section {
  padding: 90px 0;
}
.container-background-sub {
  background-image: url(//res2.weblium.site/res/5d84b7ad48299c00263e65a5/5d9b54446feadf00260818d6_optimized_1200.webp);
}

.grid__inner {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: column;
}
.grid__item {
  display: flex;
  padding: 0 15px;
  background: var(--background-grid-item);
  flex-direction: column;
  margin-top: 50px;
  line-height: 24px;
  border-radius: 5px;
}
.grid__item-inner {
  padding: 31px 27px;
}

.text-block__subtittle {
  display: block;
  margin-top: 15px;
  font-size: 18px;
  margin-block-start: 15px;
  font-weight: 700;
}

.text-caption {
  margin-top: 25px;
  color: rgb(80, 86, 96);
  font-size: 14px;
}
